[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
drf-spectacular = "*"
tox = "*"
flake8 = "*"
isort = "*"
black = "*"

[packages]
django = "*"
djangorestframework = "*"
iso639-lang = "*"
requests = "*"
redis = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
